<a href="https://colab.research.google.com/github/kalyani1998/innomatic-reasearch-labs/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt

In [ ]:
pwd

'/content'

In [ ]:
df = pd.read_excel('aspiring_minds_employability_outcomes_2015.xlsx')

In [ ]:
df.head()

,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,B.Tech/B.E.,computer engineering,78.00,1141,0,Andhra Pradesh,2011,515,585,525,0.635979,445,-1,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,85.0,cbse,5807,2,B.Tech/B.E.,electronics and communication engineering,70.06,5807,0,Madhya Pradesh,2012,695,610,780,0.960603,-1,466,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,68.2,cbse,64,2,B.Tech/B.E.,information technology,70.00,64,0,Uttar Pradesh,2014,615,545,370,0.450877,395,-1,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,83.6,cbse,6920,1,B.Tech/B.E.,computer engineering,74.64,6920,1,Delhi,2011,635,585,625,0.974396,615,-1,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,2008,76.8,cbse,11368,2,B.Tech/B.E.,electronics and communication engineering,73.90,11368,0,Uttar Pradesh,2012,545,625,465,0.124502,-1,233,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [ ]:
df.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,Degree,Specialization,collegeGPA,CollegeCityID,CollegeCityTier,CollegeState,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",2007,95.8,"board of intermediate education,ap",1141,2,B.Tech/B.E.,computer engineering,78.00,1141,0,Andhra Pradesh,2011,515,585,525,0.635979,445,-1,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,2007,85.0,cbse,5807,2,B.Tech/B.E.,electronics and communication engineering,70.06,5807,0,Madhya Pradesh,2012,695,610,780,0.960603,-1,466,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,2010,68.2,cbse,64,2,B.Tech/B.E.,information technology,70.00,64,0,Uttar Pradesh,2014,615,545,370,0.450877,395,-1,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,2007,83.6,cbse,6920,1,B.Tech/B.E.,computer engineering,74.64,6920,1,Delhi,2011,635,585,625,0.974396,615,-1,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,2008,76.8,cbse,11368,2,B.Tech/B.E.,electronics and communication engineering,73.90,11368,0,Uttar Pradesh,2012,545,625,465,0.124502,-1,233,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [ ]:
df = df.rename(columns = {"10percentage":"Class10_percentage"})
df = df.rename(columns = {"12percentage":"Class12_percentage"})
df = df.rename(columns = {"12graduation":"Class12_Passout"})

In [ ]:
shape = df.shape
print(f'Dataset having {shape[0]} rows and {shape[1]} columns')
# print(f'Dataset having {shape[1]} columns')

Dataset having 3998 rows and 38 columns

In [ ]:
np.round(df.describe())

,ID,Salary,Class10_percentage,Class12_Passout,Class12_percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,GraduationYear,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
count,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0,3998.0
mean,663795.0,307700.0,78.0,2008.0,74.0,5157.0,2.0,71.0,5157.0,0.0,2012.0,502.0,502.0,513.0,1.0,353.0,95.0,91.0,23.0,16.0,32.0,3.0,-0.0,0.0,0.0,-0.0,-0.0
std,363218.0,212737.0,10.0,2.0,11.0,4802.0,0.0,8.0,4802.0,0.0,32.0,105.0,87.0,122.0,0.0,205.0,158.0,175.0,98.0,88.0,105.0,37.0,1.0,1.0,1.0,1.0,1.0
min,11244.0,35000.0,43.0,1995.0,40.0,2.0,1.0,6.0,2.0,0.0,0.0,180.0,195.0,120.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-4.0,-6.0,-5.0,-3.0,-7.0
25%,334284.0,180000.0,72.0,2007.0,66.0,494.0,2.0,66.0,494.0,0.0,2012.0,425.0,445.0,430.0,0.0,295.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-0.0,-1.0,-1.0,-1.0
50%,639600.0,300000.0,79.0,2008.0,74.0,3879.0,2.0,72.0,3879.0,0.0,2013.0,500.0,505.0,515.0,1.0,415.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,-0.0,-0.0
75%,990480.0,370000.0,86.0,2009.0,83.0,8818.0,2.0,76.0,8818.0,1.0,2014.0,570.0,565.0,595.0,1.0,495.0,233.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,1.0
max,1298275.0,4000000.0,98.0,2013.0,99.0,18409.0,2.0,100.0,18409.0,1.0,2017.0,875.0,795.0,900.0,1.0,840.0,612.0,715.0,623.0,676.0,548.0,516.0,2.0,2.0,3.0,3.0,2.0

In [ ]:
np.round(df.describe().transpose())

,count,mean,std,min,25%,50%,75%,max
ID,3998.0,663795.0,363218.0,11244.0,334284.0,639600.0,990480.0,1298275.0
Salary,3998.0,307700.0,212737.0,35000.0,180000.0,300000.0,370000.0,4000000.0
Class10_percentage,3998.0,78.0,10.0,43.0,72.0,79.0,86.0,98.0
Class12_Passout,3998.0,2008.0,2.0,1995.0,2007.0,2008.0,2009.0,2013.0
Class12_percentage,3998.0,74.0,11.0,40.0,66.0,74.0,83.0,99.0
CollegeID,3998.0,5157.0,4802.0,2.0,494.0,3879.0,8818.0,18409.0
CollegeTier,3998.0,2.0,0.0,1.0,2.0,2.0,2.0,2.0
collegeGPA,3998.0,71.0,8.0,6.0,66.0,72.0,76.0,100.0
CollegeCityID,3998.0,5157.0,4802.0,2.0,494.0,3879.0,8818.0,18409.0
CollegeCityTier,3998.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
GraduationYear,3998.0,2012.0,32.0,0.0,2012.0,2013.0,2014.0,2017.0
English,3998.0,502.0,105.0,180.0,425.0,500.0,570.0,875.0
Logical,3998.0,502.0,87.0,195.0,445.0,505.0,565.0,795.0
Quant,3998.0,513.0,122.0,120.0,430.0,515.0,595.0,900.0
Domain,3998.0,1.0,0.0,-1.0,0.0,1.0,1.0,1.0
ComputerProgramming,3998.0,353.0,205.0,-1.0,295.0,415.0,495.0,840.0
ElectronicsAndSemicon,3998.0,95.0,158.0,-1.0,-1.0,-1.0,233.0,612.0
ComputerScience,3998.0,91.0,175.0,-1.0,-1.0,-1.0,-1.0,715.0
MechanicalEngg,3998.0,23.0,98.0,-1.0,-1.0,-1.0,-1.0,623.0
ElectricalEngg,3998.0,16.0,88.0,-1.0,-1.0,-1.0,-1.0,676.0
TelecomEngg,3998.0,32.0,105.0,-1.0,-1.0,-1.0,-1.0,548.0
CivilEngg,3998.0,3.0,37.0,-1.0,-1.0,-1.0,-1.0,516.0
conscientiousness,3998.0,-0.0,1.0,-4.0,-1.0,0.0,1.0,2.0
agreeableness,3998.0,0.0,1.0,-6.0,-0.0,0.0,1.0,2.0
extraversion,3998.0,0.0,1.0,-5.0,-1.0,0.0,1.0,3.0
nueroticism,3998.0,-0.0,1.0,-3.0,-1.0,-0.0,1.0,3.0
openess_to_experience,3998.0,-0.0,1.0,-7.0,-1.0,-0.0,1.0,2.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3998 non-null   int64
 1   Salary                 3998 non-null   int64
 2   DOJ                    3998 non-null   datetime64[ns]
 3   DOL                    3998 non-null   object
 4   Designation            3998 non-null   object
 5   JobCity                3998 non-null   object
 6   Gender                 3998 non-null   object
 7   DOB                    3998 non-null   datetime64[ns]
 8   Class10_percentage     3998 non-null   float64
 9   10board                3998 non-null   object
 10  Class12_Passout        3998 non-null   int64
 11  Class12_percentage     3998 non-null   float64
 12  12board                3998 non-null   object
 13  CollegeID              3998 non-null   int64
 14  CollegeTier            3998 non-null   int64
 15  Degree                 3998 non-null   object
 16  Specialization         3998 non-null   object
 17  collegeGPA             3998 non-null   float64
 18  CollegeCityID          3998 non-null   int64
 19  CollegeCityTier        3998 non-null   int64
 20  CollegeState           3998 non-null   object
 21  GraduationYear         3998 non-null   int64
 22  English                3998 non-null   int64
 23  Logical                3998 non-null   int64
 24  Quant                  3998 non-null   int64
 25  Domain                 3998 non-null   float64
 26  ComputerProgramming    3998 non-null   int64
 27  ElectronicsAndSemicon  3998 non-null   int64
 28  ComputerScience        3998 non-null   int64
 29  MechanicalEngg         3998 non-null   int64
 30  ElectricalEngg         3998 non-null   int64
 31  TelecomEngg            3998 non-null   int64
 32  CivilEngg              3998 non-null   int64
 33  conscientiousness      3998 non-null   float64
 34  agreeableness          3998 non-null   float64
 35  extraversion           3998 non-null   float64
 36  nueroticism            3998 non-null   float64
 37  openess_to_experience  3998 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(18), object(9)
memory usage: 1.2+ MB

In [ ]:
df.head()

In [ ]:
int_col = df.select_dtypes(include=['int64','float64']).columns
cat_col = df.select_dtypes(include=['object']).columns
datet_col = df.select_dtypes(include=['datetime64[ns]']).columns
print('Int and float col name :')
print(int_col)
print()
print('Categorical col name :')
print(cat_col)
print()
print('Date Time col name :')
print(datet_col)

In [ ]:
#converting date column to datetime type
#and fetching year,month and day from column
# df["DOJ"]=pd.to_datetime(df["DOJ"])
df["DOL"].replace("present",dt.datetime.today(),inplace=True)
df["DOL"]=pd.to_datetime(df["DOL"])
df["Year"]=pd.to_datetime(df["DOL"]).dt.year
df["Month"]=pd.to_datetime(df["DOL"]).dt.month
df["Day"]=pd.to_datetime(df["DOL"]).dt.day

In [ ]:
# replacing -1 value present in dataframe to 0

df.replace(to_replace=-1, value=0, inplace=True)

In [ ]:
# we can see in 10board and 12board columns values is not stable, so i'am changing all values to only state board,cbse board,icse board
df['10board'].value_counts()

In [ ]:
'10board'].unique()

In [ ]:
# df.replace(to_replace=-1, value=0, inplace=True)
df['10board'].replace([ 'cbse', 'cbse[gulf zone]','icse board , new delhi', 'cbse board','central board of secondary education'], 'cbse',inplace=True)
df['10board'].replace("cicse","icse",inplace=True)

In [ ]:
board10_uniqueval = df['10board'].unique()
board10_append = []
for i in board10_uniqueval:
  if i == 'cbse' or i == 'icse':
    continue
  else:
    board10_append.append(i)

board10_append

In [ ]:
for j in board10_append:
  df['10board'].replace(j, 'state',inplace=True)

In [ ]:
df['10board'].unique()

In [ ]:
df['12board'].value_counts()

In [ ]:
df['12board'].unique()

In [ ]:
df['12board'].replace(['all india board','central board of secondary education, new delhi', 'cbese'], 'cbse',inplace=True)
df['12board'].replace(['isc', 'isc board', 'isce', 'cicse','isc board , new delhi'], 'icse',inplace=True)

In [ ]:
board12_uniqueval = df['12board'].unique()
board12_append = []
for i in board12_uniqueval:
  if i == 'cbse' or i == 'icse':
    continue
  else:
    board12_append.append(i)

board12_append

In [ ]:
for j in board12_append:
  df['12board'].replace(j,'state',inplace=True)
# data['10 board'].replace(0,'n/a',inplace=True)

df['12board'].unique()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df[int_col].head()

In [ ]:
df[cat_col].head()

In [ ]:
df[datet_col].head()

In [ ]:
# Univariate Analysis on Salary column

sns.set_style("darkgrid")
plt.figure(figsize=(8,6))
sns.distplot(df['Salary'])
plt.axvline(df['Salary'].mean(),color='black', label='Mean')
plt.title("Distribution of Salary")
plt.legend(shadow=True,fontsize="larger")

skew = df['Salary'].skew()
kurt = df['Salary'].kurt()
print('Skewness:{}'.format(round(skew,2)))
print('Kurtosis:{}'.format(round(kurt,2)))

plt.show()

In [ ]:
# Univariate Analysis on Sa10percentage column

sns.set_style("darkgrid")
plt.figure(figsize=(8,6))
sns.distplot(df['Class10_percentage'])
plt.axvline(df['Class10_percentage'].mean(), color="blue", label="Mean")
plt.title("distribution of Class10_percentage")
plt.legend(shadow=True,fontsize="larger")

skew = df['Class10_percentage'].skew()
kurt = df['Class10_percentage'].kurt()
print('Skewness:{}'.format(round(skew,2)))
print('Kurtosis:{}'.format(round(kurt,2)))

In [ ]:
# Univariate Analysis on Sa10percentage column

sns.set_style("darkgrid")
plt.figure(figsize=(8,6))
sns.distplot(df['Class12_percentage'])
plt.axvline(df['Class12_percentage'].mean(), color="blue", label="Mean")
plt.title("distribution of Class12_percentage")
plt.legend(shadow=True,fontsize="larger")

skew = df['Class12_percentage'].skew()
kurt = df['Class12_percentage'].kurt()
print('Skewness:{}'.format(round(skew,2)))
print('Kurtosis:{}'.format(round(kurt,2)))

In [ ]:
#year of joining
(df['DOJ'].dt.year).value_counts().plot(kind='bar')

In [ ]:
# Bar graph of Birth Year
(df['DOB'].dt.year).value_counts().plot(kind='bar')

In [ ]:
board10_grouped = df.groupby(by='10board').size()
board10_grouped.plot.bar()

In [ ]:
board12_grouped = df.groupby(by='12board').size()
board12_grouped.plot.bar()

In [ ]:
class12passout_grouped = df.groupby(by='Class12_Passout').size()
class12passout_grouped.plot.bar()

In [ ]:
(df['Gender']).value_counts().plot(kind='bar')

In [ ]:
top_fields=list(df.sort_values("Salary",ascending=False)["Designation"].unique())[:20]
print(top_fields)

top_designation=df[df["Designation"].isin(top_fields)]

In [ ]:
top_designation.groupby(["Designation"])["Salary"].describe().sort_values("max",ascending=False)

In [ ]:
plt.figure(figsize=(15,5))
top_designation["Designation"].value_counts().plot(kind="bar")

In [ ]:
plt.figure(figsize=(35,15))
sns.countplot(x="Designation",hue="Gender",data=top_designation)
plt.xticks(fontsize=32,rotation=90)
plt.yticks(fontsize=32)

In [ ]:
#lets add exp column to dataset
top_designation["Exp"]=(top_designation["DOL"]).dt.year - (top_designation["DOJ"]).dt.year

In [ ]:
top_designation.head()

In [ ]:
plt.figure(figsize=(35,15))

sns.countplot(df.Gender,hue=df.Specialization)
plt.show()

In [ ]:
def outliers_iqr(df,col):    
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1

    lb = q1 - (1.5*iqr)
    ub = q3 + (1.5*iqr)
    outliers = []
    for val in df[col]:
        if val < lb or val > ub:
            outliers.append(val)

    return outliers,len(outliers)

In [ ]:
outliers_iqr(df, 'Salary')

In [ ]:
sns.boxplot(x='Salary', y = 'Gender', data=df)
plt.suptitle('Salary levels by gender')

In [ ]:
df.head()

In [ ]:
#Salary distribution for each designation
plt.figure(figsize=(35,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.histplot(x="Salary",data=top_designation[top_designation["Designation"]==top_fields[j]],bins=10,hue="Gender")
    plt.title(top_fields[j])

In [ ]:
i=10
plt.figure(figsize=(35,10))
for j in range(len(top_fields[10:])):
    plt.subplot(str(25)+str(j))
    sns.histplot(x="Salary",data=top_designation[top_designation["Designation"]==top_fields[i]],bins=10,hue="Gender")
    plt.title(top_fields[i])
    i=i+1

In [ ]:
# Doing same with Box plot and see the median salary
plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[top_designation["Designation"]==top_fields[j]])
    plt.title(top_fields[j])

In [ ]:
i=10
plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[top_designation["Designation"]==top_fields[i]])
    plt.title(top_fields[i])
    i=i+1

In [ ]:
# lets check for individual gender
# for male

plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[(top_designation["Designation"]==top_fields[j]) & (top_designation["Gender"]=="m")])
    plt.title(top_fields[j])

In [ ]:
i=10
plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[(top_designation["Designation"]==top_fields[i]) & (top_designation["Gender"]=="m")])
    plt.title(top_fields[i])
    i=i+1

In [ ]:
# for female
plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[(top_designation["Designation"]==top_fields[j]) & (top_designation["Gender"]=="f")])
    plt.title(top_fields[j])

In [ ]:
i=10
plt.figure(figsize=(20,10))
for j in range(len(top_fields[:10])):
    plt.subplot(str(25)+str(j))
    sns.boxplot(x="Salary",data=top_designation[(top_designation["Designation"]==top_fields[i]) & (top_designation["Gender"]=="f")])
    plt.title(top_fields[i])
    i=i+1

In [ ]:
top_designation.head(1)

In [ ]:
# Lets Look Salary By Jib City like which State offers more salary
plt.figure(figsize=(100,20))
sns.barplot(x="JobCity",y="Salary",hue="Gender",data=top_designation)
plt.xticks(fontsize=68,rotation=90)
plt.yticks(fontsize=68)

In [ ]:
# Lets Check the Degree
sns.countplot(x="Degree",hue="Gender",data=top_designation)

In [ ]:
# Lets Check In Which State most aspirants are working.
plt.figure(figsize=(55,15))
sns.countplot(x="JobCity",data=top_designation,hue="Gender")
plt.xticks(fontsize=38,rotation=90)
plt.yticks(fontsize=38)

In [ ]:
# Lets Check from which region most aspirants are from
plt.figure(figsize=(55,15))
sns.countplot(x="CollegeState",data=top_designation,hue="Gender")
plt.xticks(fontsize=42,rotation=90)
plt.yticks(fontsize=42)

In [ ]:
top_designation["SAL"]=top_designation["Salary"].apply(lambda x:">=500K" if x>=5 else "<500K")
top_designation["EXPR"]=top_designation["Exp"].apply(lambda x:str(x))
top_designation["GPA"]=top_designation["collegeGPA"].apply(lambda x:str(x))
np.random.seed(1)
mindSample=top_designation[['Designation', 'JobCity', 'Gender','Degree', 'Specialization',"GPA","SAL"]].groupby("Gender").sample(200)

In [ ]:
top_designation.head()

In [ ]:
top_designation["Age"]=pd.to_datetime(top_designation["DOL"]).dt.year-pd.to_datetime(top_designation["DOB"]).dt.year
plt.figure(figsize=(15,5))
plt.subplot(131)
sns.scatterplot(x="Exp",y="Salary",data=top_designation,hue="Gender")
plt.subplot(132)
sns.scatterplot(x="Age",y="Salary",data=top_designation,hue="Gender")
plt.subplot(133)
sns.scatterplot(x="collegeGPA",y="Salary",data=top_designation,hue="Gender")

In [ ]:
# Lets Check the Degree
sns.countplot(x="Degree",hue="Gender",data=top_designation)

In [ ]:
plt.figure(figsize=(50,20))
sns.countplot(x="Specialization",hue="Degree",data=top_designation)
plt.xticks(fontsize=42,rotation=90)
plt.yticks(fontsize=42)
plt.legend(fontsize=35)

In [ ]:
from scipy import stats as st

In [ ]:
# Lets Test a hypothesis for sw engg field to check whether of not the salary is >=300K,Age>=27,Exp=5.
np.random.seed(1)
sw_eng_samp=top_designation[(top_designation["Designation"]=="software engineer")].sample(100)
saltest=np.round(st.ttest_1samp(sw_eng_samp["Salary"],popmean=3)[1],2)
exptest=np.round(st.ttest_1samp(sw_eng_samp["Exp"],popmean=4)[1],2)
agetest=np.round(st.ttest_1samp(sw_eng_samp["Age"],popmean=27)[1],2)
if saltest<0.05:
    print("We Reject the null claim and state that the AVG salary for Sw engineers is not 300K")
else:
    print("We accept the null claim and state that the AVG salary for Sw engineers is min 300K")
if agetest<0.05:
    print("We Reject the null claim and state that the AVG age for Sw engineers is not 27")
else:
    print("We accept the null claim and state that the AVG age for Sw engineers is 27")
if exptest<0.05:
    print("We Reject the null claim and state that the AVG exp for Sw engineers is not 4 Yrs")
else:
    print("We accept the null claim and state that the AVG exp for Sw engineers is 4 Yrs")

In [ ]:
top_designation[(top_designation["Designation"]=="software engineer") & (top_designation["Gender"]=="m")][["Age","Salary","Exp"]].mean()

In [ ]:
df.head(1)

In [ ]:
# Correlation between the feature using pairplot

plt.figure(figsize=(20,15))
data = df[['Salary','Class10_percentage','Class12_percentage','collegeGPA', 'conscientiousness','agreeableness','extraversion','nueroticism','openess_to_experience']]
sns.pairplot(data)
plt.show()

In [ ]:
plt.figure(figsize=(20,15))
data = top_designation[['Salary','Exp']]
sns.pairplot(data)
plt.show()

In [ ]:
# hypothesis testing

df.head()

In [ ]:
# Normalize Salary for Better Visualization

df['nor_sal']=df['Salary']/100000

In [ ]:
print('Average Salary :')
print('Programmer Analyst :',round(df['nor_sal'][(df['GraduationYear']==2014) & (df['Designation']=='programmer analyst') & (df['Specialization']=='computer science & engineering')].mean(), 2))
print('Software Engineer :',round(df['nor_sal'][(df['GraduationYear']==2014) & (df['Designation']=='software engineer')  & (df['Specialization']=='computer science & engineering')].mean(),2))
print('Hardware Engineer :',round(df['nor_sal'][(df['GraduationYear']==2014) &(df['Designation']=='hardware engineer')  & (df['Specialization']=='computer science & engineering')].mean(), 2))
print('Associate Engineer :',round(df['nor_sal'][(df['GraduationYear']==2014) &(df['Designation']=='associate engineer')  & (df['Specialization']=='computer science & engineering')].mean(), 2))

In [ ]:
# Sample Data of required employees

sample = np.array([3.02,3.4,0,3.32])
sample

In [ ]:
# mean
sample_size = len(sample)
sample_mean = np.mean(sample)
sample_mean

In [ ]:
# Standard Deviation
import math
sample_std = math.sqrt(sum([(i-sample_mean)**2 for i in sample]) / 3)
print('Sample Standard Deviation :', sample_std)

In [ ]:
pop_mean = 2.75
sample_mean = 2.43
sample_std = 1.63
sample_size = 4

In [ ]:
# Calling T-score Function
def t_score(pop_mean, sample_mean, sample_std, sample_size):
    numerator = sample_mean - pop_mean
    denomenator = sample_std / (sample_size**0.5)
    return numerator / denomenator


t_sc = t_score(pop_mean, sample_mean, sample_std, sample_size)
print('t-score :', t_sc)

In [ ]:
# Two Tail - Deciding the Significance Level & Calculating the t-critical value
from scipy.stats import t
confidence_level = 0.95
alpha = 1 - confidence_level
t_critical = t.ppf(1-alpha/2, df = 3)
print('t_critical :', t_critical)

In [ ]:
# Visualizing the Sampling Distribution with Rejection Regions
from scipy.stats import norm
# Defining the x min & x max
x_min = 2
x_max =6

# Defining the Sampling Distribution mean & std
mean = pop_mean
std = sample_std / (sample_size**0.5)

# Ploting the graph and setting the x limits
x = np.linspace(x_min, x_max, 100)
y = norm.pdf(x, mean, std)
plt.xlim(x_min, x_max)
plt.plot(x, y)

# Computing the left and right critical values of Two tailed Test
t_critical_left = pop_mean + (-t_critical * std)
t_critical_right = pop_mean + (t_critical * std)

print('t_critical_left :', t_critical_left)
print('t_critical_right :', t_critical_right)

# Shading the left rejection region
x_left = np.linspace(x_min, t_critical_left, 100)
y_left = norm.pdf(x_left, mean, std)
plt.fill_between(x_left, y_left, color='red')

# Shading the right rejection region
x_right = np.linspace(t_critical_right, x_max, 100)
y_right = norm.pdf(x_right, mean, std)
plt.fill_between(x_right, y_right, color='red')

plt.scatter(sample_mean, 0)
plt.annotate("x_bar", (sample_mean, 0.1))

In [ ]:
# Compairing the Table Value and T-score value
# Conclusion using t-test
if np.abs(t_sc) > t_critical:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

In [ ]:
# Conclusion using p-test
p_value = 2 * (1.0 - norm.cdf(np.abs(t_sc)))

print("p_value = ", p_value)

if p_value < alpha:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

In [ ]:
# Column standardization using MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
# Standardizing Salary Column

scaled_sal = scaler.fit_transform(df['Salary'].values.reshape(-1,1))
print(scaled_sal[:20])

In [ ]:
# Standardizing 10th percent Column
scaled_10 = scaler.fit_transform(df['Class10_percentage'].values.reshape(-1,1))
print(scaled_10[:20])

In [ ]:
# Standardizing 12th percent Column
scaled_12 = scaler.fit_transform(df['Class12_percentage'].values.reshape(-1,1))
print(scaled_12[:20])

In [ ]:
# One-hot Encoding of Gender column
dummies = pd.get_dummies(df[['Gender']])
dummies

In [ ]:
df1 = pd.concat([df,dummies],axis='columns')
df1.head()

In [ ]:
finaldf = df1.drop(['Gender','Gender_f'],axis='columns')
finaldf